# Para os arquivos temporarios criados para processamento de nuvens/sombra
*.img
.idea
.vscode
*.pyc
__pycache__
app/config/const.yaml
app/log
app/data/aoi.dbf
app/data/aoi.prj
app/data/aoi.dbf
app/data/aoi.shp
app/data/aoi.shx
app/data/aoi.qpj
app/download/
pandas

