# Para os arquivos temporarios criados para processamento de nuvens/sombra
*.img
.idea
.vscode
*.pyc
__pycache__
app/config/const.yaml
app/log
app/data/vector/aoi.dbf
app/data/vector/aoi.prj
app/data/vector/aoi.dbf
app/data/vector/aoi.shp
app/data/vector/aoi.shx
app/data/vector/aoi.qpj
app/data/vector/aoi.cpg
app/data/vector/aoi.geojson
app/data/vector/sul.geojson
app/download/
pandas

