draft_db: 
    host: 'host'
    dbname: 'dbname'
    user: 'user'
    password: 'password'
    port: port

data_hub:
    user: 'user>
    password: 'password'


usgs:
    user: 'user_name'
    password: 'password'